/* Import fonts from Google Fonts */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&family=Exo+2:wght@300;400;600&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Titillium Web", "Exo 2", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.popup-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeInOut 0.3s ease-in-out;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.min-width {
  min-width: 300px;
}
.bg-color-gray {
  background-color: #bcbcbc;
}

.bg-color-sky {
  background-color: #0198d5;
}

button.ex1:hover,
button.ex1:active {
  background-color: #f3f4f6;
}

button.ex2:hover,
button.ex2:active {
  background-color: #007fb3;
}

.border-color-sky {
  border-color: #0198d5;
}

.text-color-sky {
  color: #0198d5;
}
/* 
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities"; */
